{% include 'index.html' %}
<title>Finanace Center-About Us</title>


<body>
    <div class="aboutus-container">
        <h2 style="text-align: left;">We are,</h2>
        <h3>Finance Center</h3>

        <p>Do you struggle managing your finance at the end of every month? If yes, We have got a solution for you,Finance Center.
        Finance Center is a finance management application that can help you managing your financials anytime at your fingertips.
        Using This application , you will be able to:</p>
        <ul>
            <li>Keep Track of your monthly expenses.</li>
        
            <li>View analytics of your expenses and savings.</li>
            <li>Manage all your Funds in one place.</li>
            <li>Easily invest and diversify your portfolio in equity/options/futures, bank savings like FD/RD.</li>

        </ul>
        <h2>Technology STACK:</h2>
        <ul>
            <li>Python/django</li>
            <li>django rest framework</li>
            <li>PostgreSQL</li>
            <li>HTML,CSS</li>
        </ul>
    </div>
    <style>
        .aboutus-container{
            width: 100vw;
    

            background-color: rgb(231, 231, 231);

            padding: 5%;
            margin-top:0;
            
        }
        .aboutus-container h3{
            color:rgb(107, 73, 154);
            font-size: 10em;
            text-align: center;
        }
        .aboutus-container h2{
            text-align: center;
            font-size: 12em;
            font-weight: 700;
            
            font-family: 'Raleway',serif;
        }
        .aboutus-container p{
            font-size: 2em;

        }
        .aboutus-container ul li{
            font-size: 1.5em;
        }
        </style>
</body>
{% include 'footer.html' %}