{% include 'index.html' %}

<body>
    
    <div class="dashboard-container">
       
        
        <div class="news-section">
            <h2>Trending Business News</h2> 
            <div class="news-container">
               
            
                {% for n in news %}
                    
                    
                    <ul>
                        <li>
                            <a href="{{n.url}}" target="_blank"><h2>{{n.title}}</h2></a>
                            <h3>{{n.abstract}}<h3>
                            
                            
                            {% with image=n.multimedia.0 %}
                                <a href="{{n.url}}"><img src="{{image.url}}" alt="{{image.caption}}"></a>
                                <p style="font-size: small; text-align: center;">{{image.caption}}</p> 
                                  
                                
                            {% endwith %}
                            <!-- {% for i in n.multimedia %}
                                <img src="{{i.url}}" alt="{{i.caption}}">  
                                <p style="font-size: small;">{{i.caption}}</p> 
                                <p>{{i}}</p>                     
                            {% endfor %} -->

                            <a href={{n.url}} target="_blank" style="text-decoration: underline;">Read Here</a>
                            
                            <br>
    
                        </li>
    
                        
                        
                    </ul>
                {% endfor %} 
                
            </div>

        </div>
        
        
    </div>

    <style>
        .dashboard-container{
            width: 100vw;
            margin-top:0;
            background-image: url('/static/assets/dashboard.jpg');
            background-position: center;
            background-size: contain;
            
            padding: 2% 0% ;
        }  
        .app-menu{
            width: 200px;
            height: 200px;
            margin: 0 40%;
            border-radius: 100%;
            background-image: linear-gradient(180deg,rgb(67, 250, 174),rgb(38, 255, 251));
        }
        
        .news-section{
            margin: 1% 10%;
        }
        .news-container{
            width: 80vw;
            height: 80vh;
           
            overflow-y: auto;
            color: white;
            background-color: rgb(0, 0, 0);
        
            
        }
        .news-section h2{
            text-align: center;
            position: sticky;
            top:0;
            background-color: rgba(255, 255, 255, 0.789);
            color: black;
            font-family: 'Cinzel', serif;
            font-size: 2rem;
            backdrop-filter: blur(7px);
           
            
            
            border-radius: 100px;
        }
        .news-container ul li{
            list-style: none;
            margin-top: 5%;

        }
        .news-container ul li img{
            width: 80%;
            margin-left: 10%;
            height: 40%;
        }
        .news-container ul li a{
            text-decoration: none;
           

        }
        /* .news-container ul li a:hover{
            
            background-color:  #695aa6;
            color: white;
            

        } */ 
        .news-container ul li .heading{
            font-size:2.7em;
            font-family: 'Playfair Display', serif;


        }
        .news-container ul li .desc{
            font-family: 'Raleway',serif;
            font-size: 1em;
        }
        .user-FCRecord{
            margin: 2% 10%;
        }
        /* .app-menu .menu-items ul{
            display: flex;
            flex: 1;
        } */
       
        
        .app-menu .menu-items ul li {
          
           list-style: none;
            
        }
    </style>
</body>
{% include 'footer.html' %}

</html>