{% include 'index.html' %}
<body>
    <div class="developer-container">
        <h2>Our Developer</h2>
        <div class="developer-card">
            <ul>
                <li>
                    <div class="radial-bg-developer"><img src="/static/assets/parthtiwari.jpg"></div>
                    <h3>Parth Tiwari</h3>
                    <p>Parth has fervent interest in programming and problem solving, he is a recent graduate of Mechanical Engineering from Pranveer Singh Institute Of Technology,Kanpur.</p>
                </li>
               
                
                
            </ul>
            
            

        </div>

    </div>

    <style>
        .developer-container {
            width: 90%;
            margin: 0 5%;
            background-color: rgb(232, 232, 232);
            padding: 2%;
          
        }
        .developer-card ul li{
            background-color: white;
            width: 50%;
            margin: 2% 25%;
            padding: 3%;
            box-shadow: 0px 1px 2px 0px grey, 1px 1px 2px 0px grey;
            list-style: none;
        }
        .developer-card ul li:hover{
            box-shadow: 1px 2px 2px 0px grey, 1px 2px 3px 1px grey;
        }
        .developer-card ul{
            display: flex;
            flex:1;
            flex-wrap: wrap;
            
        }
        
        .developer-card ul li img{
            border-radius: 100%;
            width: 90%;
            height: 90%;
            margin: 5%;
            justify-content: center;
            
        }
        .developer-card ul li img:hover{
            transform: scale(1.1);

        }
        
        .developer-card  ul li p{
            font-family: 'Playfair Display',serif;
            font-size: 2rem;

        }
        .developer-card ul li h3{
            font-family: "Raleway",serif;
            font-size: 3rem;
            color: #000;
            text-align: center;
            font-weight: 500;

        }
        .developer-container h2{
            font-family: "Raleway",serif;
            font-size: 5rem;
            color: #000;
            text-align: center;
            font-weight: 600;
        }
        .radial-bg-developer{
            border-radius: 100%;
            width: 200px;
            height: 200px;
            
            background-image: linear-gradient(35deg,rgb(186, 138, 245),rgb(245, 174, 185));
           
        }
       
    </style>
</body>
{% include 'footer.html' %}